.container {
  margin: 0 auto;
  width: 80%;
}

.field { color: #0AA; }
.type  { color: #AA0; }
.name  {
  color: #AAA;
  font-family: monospace;
  /*margin-top: 0.5em;*/
  margin-bottom: 0.5em;
}
.name::after {
  content: ":"
}

.container > .name {
  margin-top: 2em;
}

table {
  width:100%;
  font-family: monospace;
  text-align: left;
  border-collapse: collapse;
  margin: 0px
}
td, th {
  padding: 6px;
  vertical-align: top;
}
th {
  background-color: #EEE;
}
tr:nth-child(odd) {
  border-left: 5px solid #CCC;
  background-color: #F3F3F3;
}
tr:nth-child(even) {
  border-left: 5px solid #EEE;
  background-color: #FAFAFA;
}
